.heading{
    color: blue;
}
.tan{
    color: blue;
    margin-left: 20px;
}
.second img{
    color: blue;
}
.para{
    margin-left: 30px;
}
.first span{
    font-size: 20px;
    color: blue;
}
.strength{
    border: 2px solid black;
    border-radius: 8px;
    width: 170px;
    height: 25px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
}
.span{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 40px;
    height: 20px;
}
.span1{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 80px;
    height: 20px;

}
.div1{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 140px;
    height: 20px;
}
   
.span2{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 100px;
    height: 20px;
}
.span3{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 60px;
    height: 20px;
}
.div2{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    width: 80px;
    height: 20px;
}
.color span{
    color: blue;
}
.color b::before{
    content: "\290D";
}
hr{
    position: relative;
    bottom: 20px;
    background-color: orange;
    height:3px;
    border: none;

}
b span{
    color: blue;
}
.cal::before{
content: "\1F5D3";
color: blue;
}
.container strong{
    margin-right: 100px;
}
.GLOBE::after{
    content: "\1F310";
}
.bold b{
    font-size: 25px;
}
.bold hr{
    width: 60%;
    right: 110px;
}
table{
    margin-left: 30px;
}